@{
    ViewBag.Title = "Index";
}

<div class="container_scroll">
    <span id="scroll_left" class="left"><</span>
    <span id="scroll_right" class="right">></span>
    <div class="container_img">
        <a href="#">
            <img src="~/Content/Img/test.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/test2.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6853.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6861.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6881.jpg" />
        </a>
        <a href="#">


            <img src="~/Content/Img/test.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/test2.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6853.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6861.jpg" />
        </a>
        <a href="#">


            <img src="~/Content/Img/IMG_6881.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/test.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/test2.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6853.jpg" />
        </a>
        <a href="#">


            <img src="~/Content/Img/IMG_6861.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6881.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/test.jpg" />
        </a>
    </div>


</div>

<div class="container_gallery">
    <img src="" />
    <a href="#">Описание события. Чтобы посмотреть фотографии, надо нажать на ссылку. Произойдет переход к альбому, который будет выглядеть также. Только без надписи, естественно.</a>
    
</div>

