@{
    ViewBag.Title = "Index";
}

<div class="container_scroll">
    <span id="scroll_left" class="left"><</span>
    <span id="scroll_right" class="right">></span>
    <div class="container_img">
        <a href="#">
            <img src="~/Content/Img/2100_5.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6824.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6902.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6931.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/2100_5.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6824.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6902.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6931.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/2100_5.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6824.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6902.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6931.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/2100_5.jpg" />
        </a>
        <a href="#">

            <img src="~/Content/Img/IMG_6824.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6902.jpg" />
        </a>
        <a href="#">
            <img src="~/Content/Img/IMG_6931.jpg" />
        </a>
    </div>
</div>

